<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>Smart Resume Analyzer</title>

    <link rel="preconnect"
          href="https://fonts.googleapis.com">

    <link rel="preconnect"
          href="https://fonts.gstatic.com"
          crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
          rel="stylesheet">

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="container">

    <h1>📄 Smart Resume Analyzer</h1>

    <p class="subtitle">
        Upload your resume and compare it with a Job Description.
    </p>

    <form action="/analyze"
          method="POST"
          enctype="multipart/form-data">

        <label>
            Upload Resume
        </label>

        <input
            type="file"
            name="resume"
            accept=".pdf"
            required>

        <label>
            Job Description
        </label>

        <textarea
            name="job_description"
            placeholder="Paste the Job Description here..."
            required></textarea>

        <button type="submit">

            🚀 Analyze Resume

        </button>

    </form>

</div>

</body>

</html>