<!DOCTYPE html>
<html>
<head>

    <title>Smart Resume Analyzer</title>

    <link rel="preconnect"
          href="https://fonts.googleapis.com">

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap"
          rel="stylesheet">

    <link rel="stylesheet"
          href="{{ url_for('static',
          filename='style.css') }}">

</head>

<body>

    <div class="background-circle one"></div>
    <div class="background-circle two"></div>

    <div class="container">

        <div class="hero">

            <h1> AI Resume Analyzer</h1>

            <p>
                Optimize your resume for ATS systems and compare it with job descriptions.
            </p>

        </div>

        <form action="/analyze"
              method="POST"
              enctype="multipart/form-data">

            <div class="upload-box">

                <label>Upload Resume</label>

                <input
                    type="file"
                    name="resume"
                    required>

            </div>

            <label>Job Description</label>

            <textarea
                name="job_description"
                placeholder="Paste Job Description Here..."
                required>
            </textarea>

            <button>
                Analyze Resume
            </button>

        </form>

    </div>

</body>
</html>